.App {
  text-align: center;
  /* justify-content: center; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* min-width: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Categories {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0;
  padding-right: 120px;
  height: fit-content;
}

.Categories.is-home {
  gap: 8%;
  background-color: transparent;
}

.Categories:not(.is-home) {
  gap: 1%;
  background-color: rgba(255, 255, 255, 0.5);
}

.renderCategories {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 601px) {
  .MostSoldHomePageContainer {
    position: relative;
    justify-content: center;
    padding-left: 200px;
  }
  .showMoreButton {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
  .MostSoldHomePage {
    padding-left: 0;
  }
}

.MostSoldHomePageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

@media (max-width: 600px) {
  .MostSoldHomePageContainer {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.MostSoldHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .MostSoldHomePage {
    padding-left: 0;
  }
}

.showMoreButton {
  color: gray;
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin: 3%;
  cursor: pointer;
}
