.App {
  text-align: center;
  /* justify-content: center; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* min-width: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Categories {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0;
  padding-right: 200px;
  height: fit-content;
  margin-right: 200px;
}

.Categories.is-home {
  gap: 8%;
  background-color: transparent;
}

.Categories:not(.is-home) {
  gap: 1%;
  background-color: rgba(255, 255, 255, 0.5);
}

.renderCategories {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .most-sold-products-container {
  display: flex;
  flex-direction: column;
  padding-right: 250px;
  justify-content: center;
  background-color: blue;
  max-width: 70vwh;
}

.most-sold-title {
  display: flex;
  align-items: start;
  align-content: start;
  justify-content: end;
} */
